n8n/workflows/robo_markplaces_chat_webhook.json
{
  "name": "Robo-Markplaces - Chat Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "robo-markplaces/chat",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "webhook-chat",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ROBO_API_BASE_URL || 'http://localhost:5000'}}/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-chat",
      "name": "HTTP Chat API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-chat",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        260
      ]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "HTTP Chat API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Chat API": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false
}
